@import url('https://fonts.googleapis.com/css2?family=Domine&family=Poppins:wght@300&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Domine', serif;
    font-family: 'Poppins', sans-serif;
    
  
}

.login {
    background-color: azure; 
}

.login > h1 {
    font-size: 30px;
    
}

p {
    color: #07777E;
    text-align: center;
    font-size: 16px;
    padding: 8px 2px;
    font-weight: bold;
    
}

section form {
    text-align: center;
}

section form input {
    width: 300px;
    border: 0.5px solid black;
    padding: 8px 15px;
    border-radius: 30px;
    outline: none;
    color: #07777E;
    
    
}

section form button:hover {
    background-color: #098b94;
}


    

section form input::placeholder {
    color: #07777E;
    
}

section .login p a {
    color: #07777E;
    text-decoration: none;
    float: left;
    
}

section .login p a:hover {
    text-decoration: underline;

}

